@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('variables.css');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Barlow', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--white-color);
}
ul{
    margin-bottom: unset!important;
}
li{
    display: inline-block;
}
a{
    text-decoration: none!important;
}
p{
    font-size: 18px;
    text-align: justify;
}
h3{
    font-size: 22px!important;
}
.arrow{
    display: none;
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index: 100;
}
.arrow a:hover{
    color: unset!important;
}
.arrow i{
    font-size: 3rem;
    color: var(--green-color);
}
.arrow i:hover{
    color: var(--green-color)!important;
}
/* info section */
#info{
    background-color: var(--bleu-color);
    color: var(--white-color);
    padding: 5px 80px;;
}
#info ul li{
    font-size: 14px;
    font-family: var(--font-family);
    margin-right: 30px;
}
#info ul li a{
    color: var(--white-color);
}
#info .media-icons i{
    margin-left: 20px;
}
/* end info section */
/* nav style */
#nav{
    background-color: var(--white-color);
    z-index: 100;
    padding: 5px 80px;
    color: var(--bleu-color);
}
#nav .logo{
    width: 206;
    height: 70;
}
#nav .list-icon{
    display: none;
}
#nav .close-list{
    display: none;
}
#nav ul li a{
    display: block;
    text-align: center;
    font-weight: 600;
    color: var(--bleu-color);
    padding-bottom: 10px;
    margin: 0 10px;
}
#nav ul li a:hover{
    color: var(--yellow-color);
}
#nav .active{
    color: var(--yellow-color)!important;
    border-bottom: 2px var(--yellow-color) solid;
}
/* end nav style */
/* header style */
header{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../img/slide5.jpg') center no-repeat;
    height: 560px;
    background-size: cover;
}
#header h1{
    color: var(--white-color);
    font-size: 6rem;
}

/* end header style */
/* about style */
#about{
    background-color: var(--white-color);
    color: #000000;
}
.title{
    font-family: 'Nanum Brush Script', cursive;
    font-size: 38px;
    color: var(--bleu-color);
}
#about h2{
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2;
    margin: 50px 0;
}
#about .card{
    border: none;
    background-color: unset;
}
#about .card-img{
    color: #92d051;
}
#about i{
    color: var(--green-color)
}
#about p{
    margin-bottom: unset!important;
}
#about h6{
    display: inline-block;
}
#about .list2{
    font-size: 10px!important;
}
#about ul li i{
    display: inline-block!important;
}
/* end about style */
/* departement style */
#departement{
    padding: 0 80px;
    color: #000000;
}
#departement h2{
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2;
    margin: 50px 0;
}
#departement .card{
    border: none;
    transition: 1000ms ease;
}
#departement .card:hover{
    box-shadow: unset!important;
}
#departement .card:hover h6 a{
    color: var(--bleu-color)!important;
}
#departement .card:hover .card-body a i{
    display: inline;
}
#departement .card-img{
    overflow: hidden;
}
#departement img{
    transition: 1s;
}
#departement img:hover{
    transform: scale(1.1);
}
#departement .card-body .card-title{
    margin-bottom: 30px;
    font-weight: 600;
}
#departement .card-body a{
    color: var(--yellow-color);
}
#departement .card-body a i{
    display: none;
}
#departement p{
    text-align: justify;
}
/* end departement style */
/* footer style */
footer{
    background-color: var(--bleu-color);
    color: var(--white-color);
}
footer .title{
    color: var(--yellow-color);
}
footer ul li{
    display: block;
    margin: 10px 0;
}
footer a{
    color: var(--white-color);
}
footer a:hover{
    color: var(--yellow-color);
}
footer .links i{
    margin-right: 10px;
    font-size: 10px;
    color: var(--yellow-color);
}
footer .links2 i{
    margin-right: 10px;
    color: var(--yellow-color);
}
footer .button{
    border: 2px solid var(--yellow-color);
    background-color: var(--yellow-color)!important;
    color: #FFFFFF!important;
}
footer .button:hover{
    background-color: unset!important;
}
/* end footer style */