@media (max-width: 576px) {
    /* info section */
    #info{
        padding: 5px 5px 10px 5px;
    }
    #info ul li{
        font-size: 12px;
        margin-right: 20px;
    }
    #info .media-icons i{
        margin-left: unset;
        margin-right: 20px;
        margin-top: 10px;
        font-size: 12px;
    }
    /* end info section */
    /* nav style */
    #nav{
        padding: 5px;
    }
    #nav .logo{
        width: 60%!important;
        height: auto!important;
    }
    #nav .list-icon{
        display: block;
        cursor: pointer;
    }
    #nav .close-list{
        display: none;
        cursor: pointer;
    }
    #nav .nav-list{
        display: none;
    }
    #nav ul li a{
        font-size: 14px;
    }
    /* end nav style */
    /* header style */
    #header .header-text{
        top: 25%;
    }
    #header .header-text .text1{
        font-size: 40px!important;
    }
    #header .header-text .text2{
        font-size: 26px!important;
        margin-left: 30px!important;
    }
    /* end header style */
    /* valeurs style */
    #valeurs{
        padding: 0 2px;
        color: #000000;
    }
    #valeurs h2{
        font-size: 26px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    #valeurs .title{
        font-size: 22px;
    }
    /* end valeurs style */
    /* department style */
    #departement{
        padding: 0 2px;
        color: #000000;
    }
    #departement h2{
        font-size: 26px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    /* end department style */
    /* services */
    /* wait */
    .wait{
        width: 100%;
    }
    /* end of wait */
}
/* ************************************* */
@media (min-width: 577px) and (max-width: 768px) {
    /* info section */
    #info{
        padding: 5px 5px 10px 5px;
    }
    #info ul li{
        font-size: 12px;
        margin-right: 20px;
    }
    #info .media-icons i{
        font-size: 12px;
    }
    /* end info section */
    /* nav style */
    #nav{
        padding: 5px;
    }
    #nav .logo{
        width: 50%!important;
    }
    #nav .list-icon{
        display: block;
        cursor: pointer;
    }
    #nav .close-list{
        display: none;
        cursor: pointer;
    }
    #nav .nav-list{
        display: none;
    }
    #nav ul li a{
        font-size: 14px;
    }
    /* end nav style */
    /* header style */
    #header .header-text{
        top: 25%;
    }
    #header .header-text .text1{
        font-size: 65px;
    }
    #header .header-text .text2{
        font-size: 40px;
        margin-left: 52px;
    }
    /* end header style */
    /* valeurs style */
    #valeurs{
        padding: 0 20px;
        color: #000000;
    }
    #valeurs h2{
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 40px;
        margin-top: 10px;
    }
    #valeurs .card-body .card-title{
        font-weight: 600;
    }
    #valeurs .title{
        font-size: 35px;
    }
    /* end valeurs style */
    /* department style */
    #departement{
        padding: 0 20px;
        color: #000000;
    }
    #departement h2{
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 40px;
        margin-top: 10px;
    }
    #departement .card-body .card-title{
        font-weight: 600;
    }
    /* end department style */
}
@media (min-width: 769px) and (max-width: 992px) {
    /* nav style */
    #nav .logo{
        width: 100%;
    }
    #nav ul li a{
        font-size: 14px;
        margin: 0 5px;
    }
    /* end nav style */
    /* header style */
    #header .header-text{
        top: 25%;
    }
    #header .header-text .text1{
        font-size: 80px;
    }
    #header .header-text .text2{
        font-size: 55px;
        margin-left: 60px;
    }
    /* end header style */
    /* valeurs style */
    #valeurs{
        padding: 0 35px;
        color: #000000;
    }
    #valeurs h2{
        font-size: 50px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 60px;
        margin-top: 30px;
    }
    #valeurs .card-body .card-title{
        font-weight: 600;
    }
    /* end valeurs style */
    /* department style */
    #departement{
        padding: 0 35px;
        color: #000000;
    }
    #departement h2{
        font-size: 50px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 60px;
        margin-top: 30px;
    }
    #departement .card-body .card-title{
        font-weight: 600;
    }
    /* end department style */
}
@media (min-width: 993px) and (max-width: 1200px) {
    /* header style */
    #header .header-text{
        top: 25%;
    }
    #header .header-text .text1{
        font-size: 100px;
    }
    #header .header-text .text2{
        font-size: 70px;
        margin-left: 70px;
    }
    /* end header style */
    /* valeurs style */
    #valeurs{
        padding: 0 30px;
        color: #000000;
    }
    #valeurs h2{
        font-size: 65px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 70px;
        margin-top: 30px;
    }
    #valeurs .card-body .card-title{
        font-weight: 700;
        font-size: 15px;
    }
    /* end valeurs style */
    /* department style */
    #departement{
        padding: 0 30px;
        color: #000000;
    }
    #departement h2{
        font-size: 65px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 70px;
        margin-top: 30px;
    }
    #departement .card-body .card-title{
        font-weight: 700;
        font-size: 15px;
    }
    /* end department style */
}
@media (min-width: 1201px) and (max-width: 1400px){
    /* header style */
    #header .header-text{
        top: 28%;
    }
    #header .header-text .text1{
        font-size: 110px;
    }
    #header .header-text .text2{
        font-size: 80px;
        margin-left: 70px;
    }
    /* end header style */
}